<nav>
  <a id="logo" href="/dashboard">myMetrics</a>
  <div id="links">
    <a href="http://localhost:3000/dashboard">Dashboard</a>
    <a href="/logout" onclick="signOut();">Signout</a>
  </div>
  <!-- <div class="g-signin2" data-onsuccess="onSignIn"></div> -->
  <script
    src="https://apis.google.com/js/platform.js?onload=onLoad"
    async
    defer
  ></script>
  <script>
    function signOut() {
      const auth2 = gapi.auth2.getAuthInstance();
      auth2.signOut().then(function () {
        console.log("User signed out.");
      });
    }
    function onLoad() {
      gapi.load("auth2", function () {
        gapi.auth2.init();
      });
    }
  </script>
</nav>
