<nav>
  <ul>
    <li id="logo"><a href="/dashboard">myMetrics</a></li>
    <li class="menu-item"><a href="/dashboard">Dashboard</a></li>
    <li class="menu-item"><a href="/leaderboard">Leaderboard</a></li>
    <li class="menu-item"><a href="/analytics">Analytics</a></li>
    <li class="menu-item"><a class="btn" href="/logout">Logout</a></li>
  </ul>
</nav>
