<nav class="nav">
    <input type="checkbox" id="nav-checkbox" class="nav-checkbox" />
    <label for="nav-checkbox" class="nav-toggle">
        <img src="/img/burger-menu.png" alt="" class="menu-icon" />
        <img src="/img/close.png" alt="" class="close-icon" />
    </label>
    <ul class="nav-menu">
        <li id="logo">
            <a href="/dashboard">
                <img
                    class="logo-img"
                    src="/img/pages/landing/hexagon.png"
                    alt=""
                />
            </a>
            <a href="/dashboard">myMetrics</a>
        </li>
        <li class="nav-item"><a href="/dashboard">Dashboard</a></li>
        <li class="nav-item"><a href="/leaderboard">Leaderboard</a></li>
        <li class="nav-item"><a href="/analytics">Analytics</a></li>
        <li class="nav-item"><a class="btn" href="/logout">Logout</a></li>
    </ul>
</nav>
