<nav>
  <a id="logo" href="/dashboard">myMetrics</a>
  <div id="links">
    <a href="http://localhost:3000/dashboard">Dashboard</a>
    <!-- <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div> -->
    <a href="#" onclick="signOut();">Sign out</a>
    <script>
      function signOut() {
        const auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
          console.log("User signed out.");
        });
      }
    </script>
  </div>
</nav>
