<nav>
  <a id="logo" href="/dashboard">myMetrics</a>
  <div id="links">
    <a id="dashboard" href="/dashboard">Dashboard</a>
    <a id="breakroom" href="/breakroom">Breakroom</a>
    <a id="analytics" href="/analytics">Analytics</a>
    <a id="profile" href="/profile">Profile</a>
    <a id="btn" href="/" onclick="signOut();">Logout</a>
  </div>
</nav>
