<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>MySql CRUD App</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="./css/styles.css" />
  </head>
  <body>
    <div class="todo-container">
      <h3>To Do List</h3>
      <input type="text" />
      <% for (i = 0; i < results.length; i++) { %>
      <div class="todo-item">
        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike" />
        <label for="vehicle1"><%= results[0].todo %></label><br />
      </div>
      <% } %>
    </div>

    <script src="" async defer></script>
  </body>
</html>
