<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
  </head>
  <body>
    <form action="/login" method="POST">
      <h3>Login</h3>
      <input name="email" type="email" placeholder="Email address" /><br />
      <input name="password" type="password" placeholder="Password" /><br />
      <button type="submit">Log In</button>
    </form>
    <script src="" async defer></script>
  </body>
</html>
