#board {
    display: flex;
    position: absolute;
    margin-top: 0.75rem;
    flex-direction: row;
    align-items: flex-start;
    left: 0;
    right: 0;
    padding: 0 1.5rem;
    overflow-x: auto;
    height: calc(
        100vh - var(--nav-height) - 92px
    ); /* calculates remaining space after nav/select target list elements */
}

.todo-list-container:first-child {
    margin-left: 0;
}

.add-list {
    margin-top: 0;
    width: 272px;
    border-radius: 20px;
    height: 35px;
    box-shadow: 0 2px 8px 0 rgb(0 0 0 / 6%);
}
.add-list:focus {
    outline: none;
}

.targeted {
    background-color: #b1d0e0;
    color: white;
}

.targeted:hover {
    background-color: #b1d0e0;
}

.list-popup {
    text-align: center;
    vertical-align: top;
    line-height: 1;
    cursor: pointer;
    letter-spacing: 1px;
}

.modal {
    display: none;
}

.modal-styles {
    border-radius: 5px;
    z-index: 1;
    border: 1px solid #dfe2e7;
    font-size: 12px;
    position: absolute;
    width: 272px;
    top: 35px;
    left: 268px;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

#modal-title {
    font-weight: 500;
    text-align: center;
    margin: 12px;
}

span {
    border-bottom: solid 1px #dfe2e7;
}

.list-modal-item {
    padding: 5px;
    color: var(--primary-font-clr);
    cursor: pointer;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.list-modal-item:hover {
    background-color: #f7f7f7;
}

#target-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2.5rem;
    display: flex;
    align-items: center;
}

.target-list-buttons > input {
    height: 40px;
}

.target-list-buttons > button {
    height: 40px;
}

.add-list {
    padding: 0 1.25rem;
    margin: 0.325rem 0;
    border: 0.0625em solid #ccc;
    border-radius: 20px;
    width: 11rem;
    height: 35px;
    box-shadow: 0 2px 8px 0 rgb(0 0 0 / 6%);
}

.add-list:focus {
    outline: none;
}

.dropdown {
    display: flex;
    flex-direction: row;
}

.hidden {
    visibility: hidden;
}

.open {
    transform: rotate(180deg);
}

.boardname-wrapper {
    font-size: 0.85rem;
    padding: 0.4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.boardname-wrapper:hover {
    color: #275cc2;
    background-color: #f7f7f7;
}

.dropdown-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    z-index: 1;
    border: 1px solid #dfe2e7;
    font-size: 12px;
    width: 200px;
    top: 140px;
    right: 23px;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

.dropdown-content a {
    padding: 2px;
}

.dropdown-content a:hover {
    background-color: #f7f7f7;
}

.move-btn {
    background-color: var(--btn-clr);
    border-radius: 1.25rem;
    padding: 0.3rem 0.8rem;
    border: none;
    color: white;
    letter-spacing: 0.0325em;
    box-shadow: 0 0.5em 1.125em 0 rgba(0, 0, 0, 0.2);
}

.move-btn:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2) 0 0);
}

@media only screen and (max-width: 475px) {
    .dropdown {
        display: none;
    }
}
