#board {
    display: flex;
    position: absolute;
    margin-top: 0.75rem;
    flex-direction: row;
    align-items: flex-start;
    left: 0;
    right: 0;
    padding: 0 1.5rem;
    overflow-x: auto;
    height: calc(
        100vh - 160.797px
    ); /* calculates remaining space after nav/select target list elements */
}

.todo-list-container:first-child {
    margin-left: 0;
}

.add-list {
    margin-top: 0;
    width: 272px;
    border-radius: 20px;
    height: 35px;
    box-shadow: 0 2px 8px 0 rgb(0 0 0 / 6%);
}
.add-list:focus {
    outline: none;
}

.targeted {
    background-color: #f4735e;
    color: white;
}

.targeted:hover {
    background-color: #f4735e;
}

.list-popup {
    text-align: center;
    vertical-align: top;
    line-height: 1;
    cursor: pointer;
    letter-spacing: 1px;
}

.modal {
    display: none;
}

.modal-styles {
    border-radius: 5px;
    z-index: 1;
    border: 1px solid #dfe2e7;
    font-size: 12px;
    position: absolute;
    width: 272px;
    top: 35px;
    left: 268px;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

#modal-title {
    font-weight: 500;
    text-align: center;
    margin: 12px;
}

span {
    border-bottom: solid 1px #dfe2e7;
}

.delete-list {
    padding: 5px;
    cursor: pointer;
}

.delete-list:hover {
    background-color: #f7f7f7;
}

#target-list {
    margin-top: 2.5rem;
    display: flex;
    align-items: flex-end;
    /* transition: all 0.5s; */
}

#target-list > input {
    height: 40px;
}

#target-list > button {
    height: 40px;
}

.add-list {
    padding: 0 1.25rem;
    margin: 0.325rem 0;
    border: 0.0625em solid #ccc;
    border-radius: 20px;
    width: 11rem;
    height: 35px;
    box-shadow: 0 2px 8px 0 rgb(0 0 0 / 6%);
}

.add-list:focus {
    outline: none;
}
