#study {
    display: flex;
    justify-content: center;
    align-content: center;
    height: calc(100vh - var(--nav-height));
}

#study-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    /* align-items: center; */
    width: 100vw;
    gap: 7rem;
    height: calc(100vh - var(--nav-height) - 6rem);
    margin: 3rem 0;
}

#study-list {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

#study-list > .todo-list-container {
    margin: 0;
}

#study-timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

#study-timer > h2 {
    text-align: center;
}

.timerInputs {
    display: flex;
    padding: 20px;
}

#minutes {
    flex-direction: row;
    padding: 2%;
    flex: 1;
    height: 75px;
    width: 70px;
    font-size: 2rem;
    text-align: center;
    margin-left: 10px;
    border-radius: 20px;
    outline: none;
    box-shadow: 0 2px 8px 0 rgb(0 0 0 / 6%);
}

#hours {
    flex-direction: row;
    padding: 2%;
    flex: 1;
    height: 75px;
    width: 70px;
    margin-right: 10px;
    font-size: 2rem;
    text-align: center;
    border-radius: 20px;
    outline: none;
    box-shadow: 0 2px 8px 0 rgb(0 0 0 / 6%);
}

.separator {
    display: flex;
    align-items: center;
    font-size: 2.5rem;
}

#pause-btn {
    background-color: #2f75f2;
    border-radius: 20px;
    padding: 10px 18px;
    border: none;
    color: white;
    box-shadow: 0 8px 18px 0 rgba(0, 0, 0, 0.2);
}

#pause-btn:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2) 0 0);
    cursor: pointer;
}

#countdown-timer {
    font-family: 'Roboto Mono', monospace;
    font-size: 3.5rem;
    font-weight: bold;
    padding: 20px;
}

#session-ended {
    font-size: 1.5rem;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

/* Desktop view */
@media only screen and (max-width: 768px) {
    #study-container {
        flex-direction: column;
        justify-content: none;
        gap: 0;
    }

    #study-list {
        height: 60%;
    }
}
