.nav-toggle {
    position: absolute;
    width: 1.5rem;
    right: 0;
    top: 1.4rem;
}

.menu-icon {
    width: 1.5rem;
}

.close-icon {
    display: none;
    width: 1.5rem;
}

.nav-checkbox {
    display: none;
}

.nav-menu {
    gap: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

li {
    list-style: none;
    display: none;
}

li:first-child {
    margin-right: auto;
    display: block;
}
li > a:active {
    color: var(--btn-clr);
}
#nav-checkbox:checked ~ ul.nav-menu li.nav-item {
    display: block;
}

#nav-checkbox:checked ~ label.nav-toggle .close-icon {
    display: block;
}

#nav-checkbox:checked ~ label.nav-toggle .menu-icon {
    display: none;
}

/* Desktop view */
@media only screen and (min-width: 768px) {
    .nav-toggle {
        display: none;
    }

    .nav-menu {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    li {
        display: block;
    }
}
