#leaderboard-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    max-height: calc(100vh - var(--nav-height));
    padding-top: 1.5rem;
}

#leaderboard-title {
    font-weight: 600;
    margin: 1.5rem 0 0;
}

#leaderboard-rank {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 1rem;
}

#leaderboard-table {
    flex: 1;
    box-shadow: 0 2px 20px 0 rgb(0 0 0 / 6%);
    padding: 16px;
    background-color: white;
    border-radius: 10px;
    max-width: 600px;
    width: 100%;
}

#leaderboard-rows {
    max-height: 68vh;
    overflow-y: auto;
}

#leaderboard-table > header {
    font-weight: 600;
    font-size: 1.2rem;
    box-shadow: 0 8px 8px -10px rgb(0 0 0 / 15%);
}

header,
.row {
    display: flex;
    margin-bottom: 8px;
    font-size: 1rem;
}

.rank {
    flex: 1;
    display: flex;
    align-items: center;
}

.username {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.time {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.username > img {
    border-radius: 50%;
    width: 25px;
    margin-right: 8px;
}

#rank-emoji {
    font-size: 1.8rem;
}

.total-time {
    font-family: monospace;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 1.2rem;
}
