.todo-list-container {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 0.3125rem;
    padding: 0.5rem 0.5rem;
    margin: 0em 0.5rem;
    min-width: 17rem;
    max-width: 17rem;
    box-shadow: 0 2px 16px 0 rgb(0 0 0 / 6%);
    max-height: 95%;
    background-color: #eaedf0;
    font-size: 0.75rem;
}

.list-header {
    display: flex;
    direction: row;
    justify-content: space-between;
}

.list-name {
    padding: 0.25rem;
}

.list-name:focus {
    padding: 0.25rem;
}
.items {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    overflow-y: auto;
}

/*****************************************/

.todo-card {
    background-color: white;
    padding: 0.75rem 0.25rem;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    cursor: pointer;
}

.todo-content {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
}

.wrapper {
    display: flex;
}

.list-flaticons {
    display: flex;
    justify-content: space-between;
}

.edit,
.trash {
    max-width: 10px;
}

.edit {
    margin-right: 0.125rem;
}
/* .todo-card input {
    visibility: hidden;
}

.todo-card:hover img {
    visibility: visible;
}

.todo-card:hover input {
    visibility: visible;
    margin-right: 0.25rem;
}

.todo-card:hover {
    background-color: #f4f5f7;
} */

input[type='checkbox'] {
    align-self: center;
    margin: 0;
    margin-right: 0.25rem;
}

.add-card {
    background-color: #eaedf0;
    border: none;
    height: 2rem;
    min-height: 2rem;
    margin: 0.5rem 0 0.3rem;
    overflow: hidden;
    resize: vertical;
    box-sizing: border-box;
    padding: 0.5rem 1.5rem;
}

textarea {
    display: flex;
    align-content: center;
    align-items: center;
    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
}

/* .add-card:hover {
    background-color: #f4f5f4;
    border-radius: 5px;
} */

.add-card:focus {
    background-color: white;
    border: none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    height: 46px;
    outline: none;
    overflow-wrap: anywhere;
    word-break: normal;
    padding: 0.5rem 1.5rem;
}

.completed-tag {
    color: red;
    font-size: 12px;
}

.todo-description {
    overflow-wrap: anywhere;
    word-break: normal;
    margin: 0;
    padding: 0.25rem;
}

.todo-description:focus {
    padding: 0.25rem;
    font-size: 0.75rem;
}

@media (hover: hover) and (pointer: fine) {
    .add-card:hover {
        background-color: #f4f5f4;
        border-radius: 5px;
    }
    .todo-card:hover img {
        visibility: visible;
    }

    .todo-card:hover input {
        visibility: visible;
        margin-right: 0.25rem;
    }

    .todo-card:hover {
        background-color: #f4f5f7;
    }
}
