#login-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    width: 100vw;
  }
  
  #login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .google-signup-button {
    background-image: url(https://d3nn82uaxijpm6.cloudfront.net/assets/website/landing-page/icon-google-d0e460839c4717a1dc562f7233331668a2674805b8b2df3eac5ec7fd2d6add46.svg);
  }
  
  .signup-button {
    display: block;
    color: #242428;
    background-color: #fff;
    background-size: 24px;
    background-position: 16px center;
    background-repeat: no-repeat;
    font-size: 12px;
    border: 1px solid #dfdfe8;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 60px;
    padding-right: 50px;
    -webkit-transition: background-color 0.1s ease, border-color 0.1s ease;
    transition: background-color 0.1s ease, border-color 0.1s ease;
    will-change: background-color, border-color;
  }