html {
    --neutral-font-clr: #ffffff;
    --primary-font-clr: #293b5d;
    --bg-clr: #fdfbf9;
    --btn-clr: #2f74f2;
    --nav-height: 68.797px;

    background-color: var(--bg-clr);
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    /* font-weight: 600; */
    min-width: 360px;
    box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
p {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    position: relative;
    height: 100vh;
    max-height: 100vh;
    color: var(--primary-font-clr);
    letter-spacing: 0.0325em;
    padding: 0 1.5rem;
    vertical-align: top;
}

input,
select,
textarea,
.board-card {
    color: var(--primary-color);
}

input {
    border: 0.0625em solid #ccc;
}

.page-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

/******************************************/
/****** Landing page navbar styling ******/
/****************************************/

nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #fdfbf9;
}

nav ul {
    align-items: center;
    display: flex;
    list-style: none;
    justify-content: flex-start;
    padding: 1rem 0;
    margin: 0;
}

nav #logo {
    flex: 3;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 1.5rem;
}

.logo-img {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 2.3rem;
    margin-right: 0.2rem;
}

/* Styling of page container */

#main {
    flex-grow: 1;
}

nav,
#main,
footer {
    flex-shrink: 0;
}

.header-title {
    padding-bottom: 0.8rem;
    font-weight: 600;
}

.header-para {
    line-height: 1.5;
}

.header {
    margin-top: 2rem;
    max-width: 40%;
}
.header-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

footer {
    align-items: center;
    align-content: flex-end;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.copyright {
    font-size: 0.8rem;
    color: #c5c5c5;
}
@media screen and (max-width: 1024px) {
    .header {
        max-width: 100%;
    }
}

@media screen and (min-width: 1024px) {
    #header {
        max-width: 40%;
    }
}

/*******************************/
/****** Utilities styling ******/
/*******************************/
a {
    text-decoration: none;
    color: var(--primary-font-clr);
}

/* Sets the max width of the img. Overrides the width and never exceeds it. */
img {
    display: block;
    max-width: 100%;
}

.btn {
    background-color: var(--btn-clr);
    border-radius: 1.25rem;
    padding: 0.625rem 1.125rem;
    border: none;
    color: white;
    box-shadow: 0 0.5em 1.125em 0 rgba(0, 0, 0, 0.2);
}

.btn:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2) 0 0);
}

.cancel-btn {
    background-color: white;
    margin-left: 5px;
    border-radius: 20px;
    padding: 10px 18px;
    border-style: solid;
    border-width: 1px;
    border-color: #9e9e9e;
    color: #666767;
}

.cancel-btn:hover {
    background-color: #f4f5f7;
    cursor: pointer;
}

.flaticons {
    visibility: hidden;
}

.flaticons:hover {
    opacity: 0.5;
    visibility: visible;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    box-shadow: inset 0 0 14px 14px #bec5cd;
}

::-webkit-scrollbar-track {
    border-radius: 4px;
    box-shadow: inset 0 0 14px 14px #d8dbe3;
}

::-webkit-scrollbar-button {
    display: none;
}
