* {
  max-height: 85vh;
}

body {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.2px;
  color: #182a4e;
  background-color: #242423;
  padding: 1%;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo {
  flex: 5;
  color: white;
  font-size: 32px;
  font-weight: 600;
}

links {
  flex: 1;
  display: flex;
}

#link {
  flex: 2;
}

a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

#board {
  display: flex;
  margin-top: 50px;
  flex-direction: row;
  overflow-x: scroll;
  align-items: flex-start;
  overflow-y: hidden;
}

input {
  width: 100%;
  padding: 8px 20px;
  margin: 6px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.todo-list-container {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 0.3% 1%;
  margin: 5px 5px 40px;
  min-width: 272px;
  max-width: 272px;
  max-height: 80vh;
  background-color: #eaecf1;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.add-list {
  background-color: #ebecf0;
  min-width: 200px;
}

.add-list:hover {
  background-color: #d5dade;
}

.add-card {
  background-color: #ebecf0;
  border: none;
  margin-top: 0;
}

.add-card:hover {
  background-color: #d5dade;
}

.todos {
  overflow-y: scroll;
  margin-bottom: 5%;
}

.todo-card {
  flex-direction: row;
  align-items: center;
  margin-bottom: 9px;
  padding: 0% 3%;
  flex: 1;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 2.8px 2.2px rgba(0.3, 0.3, 0.3, 0.15);
}

.todo-card:hover {
  background-color: #f4f5f7;
}

.todo-content {
  display: flex;
  flex-direction: row;
}

.todo-description {
  flex: 6;
  margin-right: 2%;
  font-size: 12px;
}

input[type="checkbox"] {
  flex: 1;
  align-self: center;
  margin-right: 2px;
}

.flaticons {
  padding: 0;
  flex: 1;
  margin: 0;
  align-self: center;
}

img {
  padding: 0;
  margin: 0;
  width: 10px; /* you can use % */
  height: auto;
}

img:hover {
  opacity: 0.5;
}

.completed-tag {
  color: red;
  font-size: 12px;
}

.list-header {
  display: flex;
  direction: row;
  padding: 0;
}

.list-name {
  flex: 10;
}

.list-functionality {
  text-align: center;
  vertical-align: top;
  line-height: 1;
}

/* .modal {
  position: absolute;
  padding: 15px;
  /* display: none; */
/* border-radius: 5px;
  height: 200px;
  width: 200px;
  top: 160px;
  left: 300px;
  background-color: white;
  box-shadow: 0 2.8px 2.2px rgba(0.3, 0.3, 0.3, 0.15);
  border-color: none;
} */

.modal {
  display: none;
  position: absolute;
}
