body {
  align-items: center;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 25%;
  border: solid;
}

.todo-item {
  margin: 5px;
  padding: 5%;
  flex: 1;
  border-radius: 5px;
  border: solid;
}
