html {
  height: 100vh;
  font-size: 12px;
}

body {
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.2px;
  color: black;
  background-color: #f1f5f7;
  padding: 1%;
  margin-bottom: 0;
  overflow-x: auto;
  overflow-y: hidden;
}

nav {
  padding-top: 8px;
  display: flex;
  height: 30px;
  justify-content: center;
  align-items: center;
  position: sticky;
}

#logo {
  flex: 5;
  color: #211921;
  font-size: 3rem;
  font-weight: 600;
}

#links {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

#links > a {
  margin-left: 15px;
}

a {
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
}

#btn {
  background-color: #2f75f2;
  border-radius: 5px;
  padding: 10px 14px;
  border: none;
  color: white;
}

#btn:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2) 0 0);
}

#board {
  display: flex;
  position: absolute;
  margin-top: 8px;
  flex-direction: row;
  align-items: flex-start;
  overflow-x: auto;
  left: 0;
  right: 0;
  padding-left: 1%;
  padding-right: 1%;
  min-height: 100%;
}

input {
  width: 100%;
  padding: 8px 20px;
  margin: 6px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.todo-list-container {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 0.3% 1%;
  margin: 0px 5px 40px;
  min-width: 272px;
  max-width: 272px;
  max-height: 77vh;
  background-color: #eaecf1;
  box-shadow: 0 2.8px 2.2px rgba(0.3, 0.3, 0.3, 0.15);
}

.add-list {
  margin-top: 0;
  width: 272px;
  margin-right: 5%;
}
.add-list:hover {
  background-color: #d5dade;
}

.add-card {
  background-color: #ebecf0;
  border: none;
  margin-top: 0;
}

.add-card:hover {
  background-color: #d5dade;
}

.todos {
  overflow-y: auto;
  margin-bottom: 5%;
}

.todo-card {
  flex-direction: row;
  align-items: center;
  margin-bottom: 9px;
  padding: 0% 3%;
  flex: 1;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 2.8px 2.2px rgba(0.3, 0.3, 0.3, 0.15);
  cursor: pointer;
}

.todo-card:hover {
  background-color: #f4f5f7;
}

.targeted {
  background-color: #fc5185;
  color: white;
}

.targeted:hover {
  background-color: #fc5185;
  color: white;
}

.todo-content {
  display: flex;
  flex-direction: row;
}

.todo-description {
  flex: 6;
  margin-right: 2%;
  font-size: 12px;
}

input[type="checkbox"] {
  flex: 1;
  align-self: center;
  margin-right: 2px;
}

.flaticons {
  padding: 0;
  flex: 1;
  margin: 0;
  align-self: center;
}

img {
  padding: 0;
  margin: 0;
  width: 10px; /* you can use % */
  height: auto;
}

img:hover {
  opacity: 0.5;
}

.completed-tag {
  color: red;
  font-size: 12px;
}

.list-header {
  display: flex;
  direction: row;
  padding: 0;
  position: relative;
}

.list-name {
  flex: 10;
}

.list-popup {
  text-align: center;
  vertical-align: top;
  line-height: 1;
  cursor: pointer;
}
.modal {
  display: none;
}

.modal-styles {
  border-radius: 5px;
  border: 1px solid #dfe2e7;
  font-size: 12px;
  position: absolute;
  width: 272px;
  top: 38px;
  left: 259px;
  background-color: #ffffff;
  box-shadow: 0 2.8px 2.2px rgba(0.3, 0.3, 0.3, 0.15);
}

#modal-title {
  font-weight: 500;
  text-align: center;
  margin: 12px;
}

span {
  border-bottom: solid 1px #dfe2e7;
}

.delete-list {
  padding: 5px;
  cursor: pointer;
}

.delete-list:hover {
  background-color: #f7f7f7;
}

#target-list {
  display: flex;
  align-items: flex-end;
}

#target-list > input {
  height: 40px;
}

#target-list > button {
  height: 40px;
}

/*dashboard styling*/

.create-board {
  width: 160px;
  height: 35px;
}

.charts {
  display: flex;
  flex: 5;
  color: white;
  padding: 10px;
}

.chart {
  flex: 2;
}

/* Study time styling */

#study {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

#study-list {
  flex: 1;
  width: 800px;
  align-content: center;
}

#study-timer {
  flex: 5;
  align-content: center;
}

#boards-section {
  padding-top: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#boards {
  width: 80%;
  margin-bottom: 100px;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  padding: 10px;
  overflow-y: scroll;
}

.board-card {
  font-weight: 400;
  display: flex;
  margin: 2%;
  display: flex;
  height: 170px;
  width: 200px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: white;
}

.board-card:hover {
  box-shadow: 2px 2px 2px #fff;
}

/* .vl {
  height: 100%;
  width: 5px;
  position: relative;
  background-color: green;
} */

.board-name {
  font-size: 16px;
  text-align: center;
}

/* Login Page */

#login-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

#login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
