<!DOCTYPE html>
<html>
    <head>
        <title>Dashboard | myMetrics</title>
        <%- include('../partials/head'); %>
        <link rel="stylesheet" href="/css/header.css" class="css" />
    </head>

    <body>
        <%- include('../partials/header');%>
        <div class="error-message">
            <h1 class="header-404">Oops!</h1>
            <p>The page you were looking for doesn't exist.</p>
        </div>
    </body>
</html>
