<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <header><%- include('../partials/header'); %></header>

    <div id="target-list">
      <button id="create-list-btn">Select Tasks to Target</button>
    </div>

    <section id="board"></section>

    <script src="./javascript/client.js" async defer></script>
  </body>
</html>
