<!DOCTYPE html>
<html>
    <head>
        <title>Focus Session | myMetrics</title>
        <%- include('../partials/head'); %>
        <link rel="stylesheet" href="/css/header.css" />
        <link rel="stylesheet" href="/css/list.css" />
        <link rel="stylesheet" href="/css/focus-session.css" />
    </head>
    <body>
        <%- include('../partials/header');%>
        <section id="study">
            <% if (status.isSessionPageVisited === 'true') { %>
            <div id="session-ended">
                <h2>Your Focus Session Has Ended.</h2>
            </div>
            <%} else { %>
            <div id="study-container">
                <div id="study-timer">
                    <div class="extend-timer hidden">
                        <p>Extend By..</p>
                        <div class="timerInputs">
                            <input
                                type="text"
                                placeholder="HH"
                                autocomplete="off"
                                id="hours"
                                inputmode="numeric"
                            />
                            <div class="separator">
                                <p>:</p>
                            </div>
                            <input
                                type="text"
                                placeholder="MM"
                                autocomplete="off"
                                id="minutes"
                                inputmode="numeric"
                            />
                        </div>
                        <div class="extend-button">
                            <button class="btn">Extend</button>
                            <buton class="cancel-btn">Cancel</buton>
                        </div>
                    </div>
                </div>
                <div id="study-list">
                    <div class="todo-list-container">
                        <div class="list-header">
                            <h4 class="list-name" contenteditable="false">
                                Focus Items
                            </h4>
                        </div>
                        <div class="items">
                            <% status.items.forEach(item => { %>
                            <div
                                id="card-<%= item.itemid %>"
                                class="todo-card"
                                draggable="true"
                            >
                                <div class="todo-content">
                                    <div class="wrapper">
                                        <input type="checkbox" />
                                        <p class="todo-description">
                                            <%= item.itemname %>
                                        </p>
                                    </div>
                                    <br />
                                    <div class="list-flaticons">
                                        <img
                                            class="flaticons edit"
                                            src="../../img/edit.svg"
                                        />
                                        <img
                                            class="flaticons trash"
                                            src="../../img/trash.svg"
                                        />
                                    </div>
                                </div>
                            </div>
                            <% }); %>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <script type="module" src="/javascript/focus-session.js" async></script>
        <% } %>
    </body>
</html>
