<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="initial-scale=1" />
        <title>myMetrics | Focus Tracking</title>
        <%- include('../partials/head'); %>
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
            integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <link rel="stylesheet" href="/css/landing.css" />
    </head>
    <body>
        <div class="page-container">
            <nav>
                <ul>
                    <li id="logo">
                        <a href="/dashboard">
                            <img
                                class="logo-img"
                                src="/img/pages/landing/hexagon.png"
                                alt=""
                            />
                        </a>
                        <a href="/dashboard">myMetrics</a>
                    </li>
                    <li class="menu-items">
                        <a class="btn" href="/login">Log In</a>
                    </li>
                </ul>
            </nav>
            <section id="main">
                <div class="header-container">
                    <div class="header">
                        <h1 class="header-title">
                            Keep Track of Your Focus Hours
                        </h1>
                        <p class="header-para">
                            Simple software to organise tasks & track and
                            analyse your focus hours.
                        </p>
                    </div>
                    <div>
                        <img
                            width="500"
                            height="auto"
                            src="/img/pages/landing/Startup life-pana.png"
                            alt="lady seated productively"
                        />
                    </div>
                </div>
            </section>
            <footer>
                <a href="https://github.com/bryanurizar/myMetrics"
                    ><i class="fab fa-github"></i
                ></a>
                <p class="copyright">
                    © 2021 myMetrics Ltd. All Rights reserved.
                </p>
            </footer>
        </div>

        <script src="" async defer></script>
    </body>
</html>
