<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1">
    <title>myMetrics | Study Tracking</title>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="/css/landing.css">
  </head>
  <body>
    <nav>
      <ul>
        <li id="logo"><a href="/dashboard">myMetrics</a></li>
        <li class="menu-items"><a class="btn" href="/login">Log In</a></li>
      </ul>
    </nav>

    <section id="main">
      <div class="container">
        <div id="header">
          <h1> Plan, Track, Analyze</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae optio soluta, officia molestias fugiat beatae, nulla voluptate quasi consequatur</p>
          <div id="links">
            <a id="btn" href="/login">Sign Up</a>
          </div> 
        </div>
        <div>
          <img width="500" height=auto src="/img/pages/landing/Startup life-pana.png" alt="lady seated productively">
        </div>
      </div>
    </section>
<!-- 
    <section>
      <div>
        <div>
          <h2>Kanban Boards</h2>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora exercitationem ea sequi alias eaque de</p>
        </div>
        <div>
          <img width="500" height="auto" src="/img/pages/landing/board.png" alt="">
        </div>

        <div>
          <div>
            <img width="300" height="auto" src="/img/pages/landing/timer.png" alt="">
          </div>
          <h2>Timer Functionality</h2>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora exercitationem ea sequi alias eaque de</p>
        </div>

        <div>
          <h2>Analytics</h2>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora exercitationem ea sequi alias eaque de</p>
        </div>
        <div>
          <img width="300" height="auto" src="/img/pages/landing/analytics.png" alt="">
        </div>
      </div>

      <footer>

      </footer>






    </section>









 -->

    <script src="" async defer></script>
  </body>
</html>
