<!DOCTYPE html>
<html>
  <head>
    <title>myMetrics | Studying Tracking</title>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <nav>
      <a id="logo" href="/dashboard">myMetrics</a>
      <div id="links">
        <a id="btn" href="/login">Log In</a>
      </div>
    </nav>
  <body>
    <script src="" async defer></script>
  </body>
</html>
