<!DOCTYPE html>
<html>
  <head>
    <title>Leaderboard | myMetrics</title>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <%- include('../partials/header');%>

    <section>
      <p>Page Under Construction</p>
    </section>
  </body>
</html>
