<html lang="en">
  <head>
    <title>Log In | myMetrics</title>
    <%- include('../partials/head'); %>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
  </head>
  <body>
    <section id="login-section">
      <div id="login">
        <h1 class="login">Login to myMetrics</h1>
        <a
          class="signup-button google-signup-button"
          data-segioevent='{"name":"RegisterFlow Initiate","method":"google","source":"home_simple_lp"}'
          href="/auth/google"
          target="_parent"
          >Sign In With Google</a
        >
      </div>
    </section>
  </body>
</html>
