<html lang="en">
  <head>
    <%- include('../partials/head'); %>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
  </head>
  <body>
    <sectioni id="login-section">
      <div id="login">
        <h1 class=login>Login to myMetrics</h1>
        <a class="signup-button google-signup-button" data-segioevent="{&quot;name&quot;:&quot;RegisterFlow Initiate&quot;,&quot;method&quot;:&quot;google&quot;,&quot;source&quot;:&quot;home_simple_lp&quot;}" href="/auth/google" target="_parent">Sign In With Google</a>
      </div>
    </section>  
  </body>
</html>