<html lang="en">
  <%- include('../partials/head'); %>
  <body>
    <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
    <a href="#" onclick="signOut();">Sign out</a>
    <script>
      function signOut() {
        const auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
          console.log("User signed out.");
        });
      }

      function onSignIn(googleUser) {
        // Useful data for your client-side scripts:
        const profile = googleUser.getBasicProfile();

        // The ID token you need to pass to your backend:
        const id_token = googleUser.getAuthResponse().id_token;
        console.log("ID Token: " + id_token);

        async function postGoogleId(url = "", data = {}) {
          const response = await fetch("http://localhost:3000/login", {
            method: "POST",
            headers: {
              "content-type": "application/json",
            },
            body: JSON.stringify(data),
          });
          const res = await response.text();
          if (res === "user authenticated") {
            window.location.replace("http://localhost:3000/dashboard");
          }
        }

        postGoogleId("http://localhost:3000/login", { token: id_token });
      }
    </script>
  </body>
</html>
