<html lang="en">
  <head>
    <%- include('../partials/head'); %>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
  </head>
  <body>
    <sectioni id="login-section">
      <div id="login">
        <h1 class=login>Login to myMetrics</h1>
      </div>
      <div id="g_id_onload"
        data-client_id="949496674355-4i348lsnm0fgu1f074nnpdhvq3qpe05g.apps.googleusercontent.com"
        data-login_uri="http://localhost:3000/login"
        >
      </div>
      <div class="g_id_signin"
        data-type="standard"
        data-size="large"
        data-theme="outline"
        data-text="sign_in_with"
        data-shape="rectangular"
        data-logo_alignment="left">
      </div>
    </section>  
  </body>
</html>
