<!DOCTYPE html>
<html>
  <head>
    <title>Profile | myMetrics</title>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <%- include('../partials/header');%>
    <p>Page Under Construction</p>
  </body>
</html>
