<!DOCTYPE html>
<html>
  <%- include('../partials/head'); %>
  <body>
    <%- include('../partials/header');%>

    <div id="boards-charts">
      <section id="boards">></section>

      <section class="charts">
        <div>
          <h1>Timer will go here</h1>
        </div>
      </section>
    </div>

    <script
      type="module"
      src="../../../javascript/dashboard.js"
      async
      defer
    ></script>
  </body>
</html>
